.sobre {
  background: var(--cor-lighter-gray-2);
  padding: 10rem 2rem;
  margin-bottom: 2.125rem;
}

.sobre__titulo {
  color: var(--cor-azul-eletrico);
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.sobre__conteudos {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  position: relative;
  z-index: 0;
}

.sobre__txt {
  font-size: 1.8rem;
  line-height: 3.8rem;
}

.sobre__link {
  display: block;
  border-radius: 1.5rem;
  background: var(--cor-azul-eletrico);
  color: var(--cor-branco);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-top: 5rem;
  padding: 1.5rem;
  max-width: 36rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background .5s;
}

.sobre__link:hover {
  background: var(--cor-azul-escuro);
}

.sobre__local {
  position: relative;
}

.sobre__local::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 50%;
  height: 70%;
  background: var(--cor-azul-eletrico);
  z-index: -1;
  transform: translate(-50%, -50%);
}

.sobre__local::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 105%;
  background: var(--cor-amarelo);
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
}

.sobre__etq {
  position: absolute;
  left: 1rem;
  top: 100%;
  width: 6.5rem;
  transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
  .sobre__conteudos {
    flex-direction: row;
  }

  .sobre__local {
    flex: 1;
    z-index: 2;
  }

  .sobre__txts {
    flex: 1;
  }

  .sobre__imagem {
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }

  .sobre__link {
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .sobre {
    margin-bottom: 5.25rem;
    background:
      linear-gradient(90deg, var(--cor-azul-eletrico) 0%, var(--cor-azul-eletrico) 33%, transparent 33%) 0% 60% / 100% 33rem no-repeat,
      var(--cor-lighter-gray-2);
  }

  .sobre__conteudos {
    flex-direction: row;
    align-items: center;
  }

  .sobre__local::before {
    background: transparent;
  }

  .sobre__local::after {
    width: 31.0rem;
    height: 51.5rem;
  }
}