.menu {
  position: relative;
  padding: 1.4rem;
}

.menu__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 113.0rem;
  margin: 0% auto;
  width: 100%;
}

.menu__logo {
  width: 10rem;
}

@media screen and (min-width: 1280px) {
  .menu {
    padding: 0;
    background: 
    url(../../svg/fundo-decoracao.svg) -1% 40% / 15rem no-repeat
    , linear-gradient(
      90deg
      , var(--cor-branco) 0%
      , var(--cor-branco) 50%
      , var(--cor-amarelo) 50%
      , var(--cor-amarelo) 100%);
  }

  .menu__logo {
    width: 14.5rem;
    padding: 1.4rem 0;
  }
}
