.contato {
  background:
    linear-gradient(180deg, var(--cor-branco) 0%, var(--cor-branco) 15%, transparent 15%),
    linear-gradient(0deg, var(--cor-azul-escuro-93) 0%, var(--cor-azul-escuro-93) 100%),
    url(../../images/fundo-2.png) center center / cover no-repeat,
    var(--cor-azul-escuro);
}

.contato__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../../svg/fundo-decoracao.svg) calc(50% - 14rem) 75% / 22rem no-repeat;
}

.contato__imagem {
  max-width: 26rem;
  transform: scaleX(-100%);
}

.contato__link {
  position: absolute;
  display: inline-block;
  background: var(--cor-amarelo);
  border-radius: .75rem;
  color: var(--cor-azul-eletrico);
  font-size: 1.8rem;
  font-weight: bold;
  width: 90%;
  max-width: 36rem;
  margin-bottom: 7rem;
  padding: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: background .5s, color .5s;
  filter: drop-shadow(0 0 6rem var(--cor-amarelo-30));
}

.contato__link:hover {
  color: var(--cor-branco);
  background: var(--cor-azul-eletrico);
}

@media screen and (min-width: 1280px) {

  .contato__container {
    background-position-x: 14rem;
    gap: 3rem;
  }

  .contato__link {
    position: initial;
    border: 5rem;
    border-radius: 1.5rem;
  }
}