* {
  box-sizing: border-box;
  line-height: normal;
  font-size: 62.5%;
  font-family: 'Gotham';
}

body {
  font-family: "Gotham";
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  max-width: 113rem;
  margin: 0 auto;
  height: 100%;
}