.destaque {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 6rem;
  overflow-x: hidden;
  z-index: 0;
}

.destaque::after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 15rem);
  border-radius: 0 1.5rem 0 0;
  background: 
  url(../../svg/fundo-decoracao.svg) calc(50% - 10rem) 0rem / 10rem no-repeat
  , var(--cor-azul-eletrico);
  width: 107.3rem;
  height: 45.6rem;
  transform: translate(-50%);
  z-index: -1;
}

.destaque::before {
  content: '';
  position: absolute;
  top: 5rem;
  left: calc(50% + 44rem);
  border-radius: 0 1.5rem 0 0;
  background: url(../../svg/fundo-decoracao.svg) no-repeat;
  width: 25rem;
  height: 25rem;
  transform: translate(-50%);
  z-index: -2;
}

.destaque__titulo {
  color: var(--cor-branco);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  padding-top: 28rem;
  text-transform: uppercase;
  text-align: center;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.produto {
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  max-width: 26.3rem;
  width: 100%;
  min-height: 45rem;
  box-shadow: 0 0 1rem 0 var(--cor-preto-15);
}

.produto__categoria {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--cor-lighter-gray);
  color: var(--cor-dark-gray);
  border-radius: 0 6.2rem 6.2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  padding: .5rem 1rem .5rem 1rem;
}

.produto__imagem {
  height: 21.6rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}

.produto__conteudo {
  padding: 3.5rem 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.produto__conteudo::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 50%;
  background: var(--cor-azul-eletrico);
  border-radius: 1.5rem;
  width: 90%;
  height: 2rem;
  transform: translateX(-50%);
}

.produto__titulo {
  color: var(--cor-dark-gray);
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.produto__precos {
  display: flex;
  justify-content: space-between;
}

.produto__preco {
  color: var(--cor-azul-eletrico);
  font-size: 1.6rem;
  padding: 1.7rem 0;
  margin-left: 1rem;
}

.produto__preco--dest {
  background: var(--cor-amarelo);
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 1.7rem;
  width: 55%;
}

.produto__parcelas {
  display: block;
  color: var(--cor-dark-gray);
  font-size: 1.6rem;
  text-align: center;
  margin-top: auto;
  padding: 1.5rem;
  margin: auto 2rem 0 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background: var( --cor-lighter-gray);
}

@media screen and (min-width: 1280px) {
  .produtos {
    justify-content: space-between;
    gap: 0;
    row-gap: 3rem;
  }
}