.categorias {
  background: linear-gradient(
    180deg
    , var(--cor-azul-eletrico) 0%
    , var(--cor-azul-eletrico) 50%
    , var(--cor-branco) 50%);
    padding: 3.5rem 0 3rem 0;
}

.categorias__titulo {
  color: var(--cor-branco);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7.5rem;
  text-transform: uppercase;
}

.categorias__categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoria__titulo {
  font-size: 2.2rem;
  color: var(--cor-amarelo);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.categoria__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7rem;
  background: linear-gradient(180deg, var(--cor-amarelo) 0%, var(--cor-amarelo-escuro) 100%);
  width: 26.3rem;
  height: 25.8rem;
}

.categoria__image {
  object-fit: contain;
  height: 60%;
}

@media screen and (min-width: 1280px) {
  .categorias {
    padding: 7rem 0 6rem 0;
  }

  .categorias__titulo {
  margin-bottom: 14rem;
  }

  .categorias__categorias {
    gap: 2rem;
    justify-content: space-between;
  }
}